<div class="jumbotron vertical-center">
	<center>
  <h1>Welcome,</h1>
  <p>This is a simple application for counting likes of facebook, click the button below to start.</p>
  <p><a href="/company_facebooks/" class="btn btn-primary btn-lg" role="button">Click Here</a></p>
  <center>
</div>